body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(104, 100%, 5%, 0.63), hsla(107, 58%, 48%, 0.637));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(104, 100%, 5%, 0.63), hsla(107, 58%, 48%, 0.678)),url(../img/licencias1.png); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover
}
